schemas/podcast-rss.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- RSS 2.0 Root Element - NO target namespace -->
  <xs:element name="rss">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="channel" type="channelType"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Channel Type - with flexible element ordering -->
  <xs:complexType name="channelType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <!-- Required RSS 2.0 Elements -->
      <xs:element name="title" type="xs:string"/>
      <xs:element name="link" type="xs:anyURI"/>
      <xs:element name="description" type="xs:string"/>

      <!-- Optional RSS 2.0 Elements -->
      <xs:element name="language" type="xs:string"/>
      <xs:element name="copyright" type="xs:string"/>
      <xs:element name="managingEditor" type="xs:string"/>
      <xs:element name="webMaster" type="xs:string"/>
      <xs:element name="pubDate" type="xs:string"/>
      <xs:element name="lastBuildDate" type="xs:string"/>
      <xs:element name="category" type="xs:string"/>
      <xs:element name="generator" type="xs:string"/>
      <xs:element name="docs" type="xs:anyURI"/>
      <xs:element name="ttl" type="xs:integer"/>
      <xs:element name="image" type="imageType"/>

      <!-- Items (Episodes) -->
      <xs:element name="item" type="itemType"/>

      <!-- Allow any elements from other namespaces (iTunes, Atom, etc.) -->
      <xs:any namespace="##other" processContents="lax"/>
    </xs:choice>
  </xs:complexType>

  <!-- Item (Episode) Type - with flexible element ordering -->
  <xs:complexType name="itemType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <!-- RSS 2.0 Item Elements -->
      <xs:element name="title" type="xs:string"/>
      <xs:element name="link" type="xs:anyURI"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="author" type="xs:string"/>
      <xs:element name="category" type="xs:string"/>
      <xs:element name="comments" type="xs:anyURI"/>
      <xs:element name="enclosure" type="enclosureType"/>
      <xs:element name="guid" type="guidType"/>
      <xs:element name="pubDate" type="xs:string"/>
      <xs:element name="source" type="xs:string"/>

      <!-- Allow any elements from other namespaces (iTunes, etc.) -->
      <xs:any namespace="##other" processContents="lax"/>
    </xs:choice>
  </xs:complexType>

  <!-- Image Type -->
  <xs:complexType name="imageType">
    <xs:sequence>
      <xs:element name="url" type="xs:anyURI"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="link" type="xs:anyURI"/>
      <xs:element name="width" type="xs:integer" minOccurs="0"/>
      <xs:element name="height" type="xs:integer" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Enclosure Type (Audio File) -->
  <xs:complexType name="enclosureType">
    <xs:attribute name="url" type="xs:anyURI" use="required"/>
    <xs:attribute name="length" type="xs:long" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- GUID Type -->
  <xs:complexType name="guidType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="isPermaLink" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
